<div class="container">
  <div class="form">
    <div class="corner-element element-one">
      <div class="block-item"></div>
      <div class="block-item"></div>
    </div>
    <div class="corner-element element-two">
      <div class="block-item"></div>
      <div class="block-item"></div>
    </div>
    <div class="form-left">
      <div class="form-name"><span>Login</span></div>
      <div class="inner-container">
        <input class="username-input" type="text" placeholder="Login"/>
        <input class="password-input" type="password" placeholder="Password"/>
        <button class="login-button" routerLink="/">Login</button>
      </div>
      <a href="#" class="forget-text">Forgot password?</a>
    </div>
    <div class="form-right">
      <div class="login-img"></div>
      <span class="login-text">Unlock the Rhythm of Efficiency<br/>with BPM Mastery!</span>
    </div>
  </div>
</div>
