<div class="container">

     <div class="sidebar" [ngClass]="{active : isMenuOpen, inactive: !isMenuOpen}">
            <div class="top-sidebar-container">
                <a class="logo" routerLink="/">BPM</a>
            <div class="menu-arrov-close" (click)="toggle()"></div>
        </div>
        <div class="sidebar-items">
            <div class="top-sidebar-items">
                <ul>
                    <!-- <li>
                        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <span class="home-icon sidebar-icon"></span>
                            <span class="item">Home</span>
                        </a>
                    </li> -->
                    <li>
                        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <span class="dashboard-icon sidebar-icon"></span>
                            <span class="item">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/people" routerLinkActive="active">
                            <span class="people-icon sidebar-icon"></span>
                            <span class="item">People</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/messages" routerLinkActive="active">
                            <span class="messages-icon sidebar-icon"></span>
                            <span class="item">Messages</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/tools" routerLinkActive="active">
                            <span class="tools-icon sidebar-icon"></span>
                            <span class="item">Tools</span>
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="bottom-sidebar-items">
                <ul>
                    <li>
                        <a routerLink="/profile" routerLinkActive="active">
                            <span class="profile-image"></span>
                            <div class="profile-title">
                                <span class="profile-name">Monkey D. Luffy</span>
                                <span class="profile-position">Developer</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings" routerLinkActive="active">
                            <span class="settings-icon sidebar-icon"></span>
                            <span class="item">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/login">
                            <span class="signout-icon"></span>
                            <span class="item">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>    
        </div>
        
     </div>

     <div class="top-main">
        <span>Hi, Welcome back</span>
        <div class="right-part">
            <input class="search-input" type="text" placeholder="Search anything...">
        </div>
     </div>

     <div class="main">
        <router-outlet></router-outlet>
     </div>
     
 </div>